extends ../template/template
block nosotros 
   main
      section.container.mt-5 
         .row 
            .col-md-5
               img.img-fluid(src="img/nosotros.jpg", alt="Imagen de nosotros")
            .col-md-7.text-justify
               h1 #{pagina}

               blockquote Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim quibusdam obcaecati eaque temporibus voluptatibus, accusantium expedita autem natus nisi quam ea dolorum fuga corrupti asperiores nesciunt ducimus, dolorem laborum debitis.

               p Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis consequuntur excepturi eius. Eius ipsam, deserunt neque sint odio earum sequi aliquid quam, distinctio recusandae velit hic culpa voluptates accusantium incidunt. Dolorem iure, impedit numquam delectus totam vitae in suscipit repellendus quaerat cupiditate. Aliquid dignissimos perspiciatis quo totam sit dicta recusandae!

               p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi tempore excepturi distinctio repellat! Totam neque fuga quo veniam. Earum, voluptates.
      section.listado-iconos
         .container.mt-5.py-5.text-center 
            .row 
               .col-md-4
                  img.img-fluid.mb-4(src="img/icono_seguridad.svg", alt="Seguridad")
                  h2 Seguridad 
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis, suscipit. Provident ducimus esse autem perspiciatis.
               .col-md-4
                  img.img-fluid.mb-4(src="img/icono_destinos.svg", alt="Seguridad")
                  h2 Mejores Destinos 
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis, suscipit. Provident ducimus esse autem perspiciatis.
               .col-md-4
                  img.img-fluid.mb-4(src="img/icono_precios.svg", alt="Seguridad")
                  h2 Mejor Precio 
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis, suscipit. Provident ducimus esse autem perspiciatis.